.show-block {
    visibility: visible !important;
    opacity: 1 !important;
}
.custom-select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: max-content;
    
    color: #080622;
}
.item-table_header .custom-select {
    margin: 0 8px;
}
.select-styled {
    position: relative;
    padding: 4px 32px 4px 15px;
    background-color: #e7e7e9;
    z-index: 2;
    transition: all .125s;
}
.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
   	border-top-color: inherit;
    position: absolute;
    top: calc(50% + 4px);
    right: 10px;
    transform: translate(0, -50%);
    transition: transform .125s;
    transform-origin: 50% 0%;
}
.select-options {
    position: relative;
    z-index: 1;
    height: 0;
    opacity: 1;
    transform: translate(0, 0);
    transition: all .125s;
}
.select-options li {
    padding: 4px 32px 4px 15px;
    background: #e7e7e9;
    transition: all .125s ease-in-out;
}
.select-options li:first-child {
	border-top: none;
}
.select-options li:hover {
    background: #d4d4d4;
}
.select-options.hide {
	visibility: hidden;
    opacity: 0;
    transform: translate(0, -5px);
}
.select-styled.active,
.select-styled:hover {
	background: #080622;
	color: #f5f5f5;
}
.select-styled.active:after {
	transform: rotate(180deg);
}

.item-table {
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}
.item-table.loaded {
    visibility: visible;
    opacity: 1;
}
.item-table_header-title {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 20px;
}
.item-table_view-setting {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
.item-table_view-anount,
.item-table_view-pages,
.item-table_add-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.item-table_view-anount,
.item-table_view-pages {
    width: 50%;
    min-width: fit-content;
}
.item-table_view-anount {
    margin-right: 5px;
}
.item-table_view-pages {
    margin-left: 5px;
}
.item-table_view-pages {
    justify-content: flex-end;
}
.item-table_add-button {
    padding: 4px 10px;
    border: 2px solid #080622;
    cursor: pointer;
    transition: all .125s;
    margin-left: 10px;
    margin-right: 10px; 
}
.item-table_add-button:hover {
    background: #080622;
    color: whitesmoke;
}
.item-table_page-button {
    padding: 6px;
    min-width: 30px;
    text-align: center;
}
.item-table_page-button.page-view {
    color: #ababab;
}
.item-table_page-button.page-button {
    background: #e7e7e9;
    cursor: pointer;
}
.item-table_page-button.page-button:hover {
    background: #d4d4d4;
}
.item-table_page-button.page-current {
    background: #080622;
    color: whitesmoke;
}
.item-table_page-button:first-child {
    margin-right: 2px;
}
.item-table_page-button:last-child {
    margin-left: 2px;
}
.table-block {  
    position: relative;
    width: 100%;
    border-top: 1px solid #e7e7e9;
    border-collapse: collapse;
}
.table-block.loading {
    pointer-events: none;
}
.table-block.loading:after {
    content: "";
    position: absolute;
    top: calc( 50% + ( 1em + 40px ) / 2 );
    left: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid #e7e7e9;
    border-top-color: #080622;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1.5s linear infinite;
}
.table-block.loading tbody {
    opacity: .1;
}
.table-block tbody {
    transition: .125s;
}
.table-block td {
    white-space: nowrap;
    min-width: 35px;
    padding: 12px 0px;
}
.table-block_min-width {
    width: 1px;
}
.table-block_center {
    text-align: center;
}
.table-block_header {
    text-transform: uppercase;
    font-size: 1.15em;
    color: #ababab;
}
.table-block_header td {
    padding: 20px 0;
}
.item-table_button {
    background: #e7e7e9;
    padding: 5px 12px;
    cursor: pointer;
    display: inline-block;
    margin: 0 4px;
    transition: all .125s;
}
.item-table_button:hover {
    background: #080622;
    color: whitesmoke;
}
@media only screen and (max-width: 900px) {
    .table-block,
    .table-block tbody, 
    .table-block th, 
    .table-block td, 
    .table-block tr { 
        display: block; 
    }
    .table-block td.responsive-hide,
    .table-block_header {
        display: none;
    }
    .table-block tr {
        margin: 15px 0;
        border-bottom: 1px solid #e7e7e9;
    }
    .table-block_min-width.table-block_center {
        width: inherit;
    }
    .table-block td {
        padding: 10px 0;
    }
    .table-block td[data-title]:before { 
        content: attr(data-title) ": ";
        text-transform: capitalize;
        font-weight: 600;
    }
}

.screen-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    z-index: 100;
}
.popup-form-wrapper {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    overflow: auto;
    background: rgba(0,0,0,.2);
    cursor: pointer;
    transition: all .125s;
}
.popup-form {
    position: relative;
    align-self: center;
    background: #F5F5F5;
    max-height: 100vh;
    max-width: 700px;
    overflow-y: auto;
    z-index: 101;
    min-width: 400px;
    margin: 10px 0;
    width: 90vw;
    min-height: 600px;
    box-shadow: 0 7px 30px -5px #00000061;
    cursor: auto;
}
.popup-form_center {
    padding: 12px 30px;
}
.popup-form_header {
    display: flex;
    justify-content: space-between;
    font-size: 1.35em;
    font-weight: 600;
    background: #080622;
    color: whitesmoke;
    -webkit-backface-visibility: hidden;
}
.popup-form_header-close i {
    cursor: pointer;
    transition: all .125s;
}
.popup-form_header-close i:hover {
    transform: rotate(90deg);
}
@media only screen and (max-height: 600px) {
    .popup-form {
        align-self: unset;
    }
}
.popup-form_body {
    width: 100%;
    height: 85vh;
    display: flex;
    overflow: hidden;
}
.popup-form_body-container-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    background: whitesmoke;
}
.popup-form_body-container-wrapper-loading {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    transition: all .125s ease-in-out;
}
.popup-form_loading-text {
    margin: -1em 0;
    text-align: center;
}
.popup-form_body-container-wrapper-loading.active {
    visibility: visible;
    opacity: 1;
}
.popup-form_body-container-wrapper-loading.active:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid #e7e7e9;
    border-top-color: #080622;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
    from {transform: translate(-50%, -50%) rotate(0deg);}
    to {transform: translate(-50%, -50%) rotate(360deg);}
}

.popup-form_body-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    background: whitesmoke;
    flex-shrink: 0;
    font-size: 1.2em;   
    flex-direction: column;

    transition: all .5s;
    margin: 0 0%;
    filter: brightness(100%);
}
.popup-form_body-container.hide {
    margin: 0 -50%;
    filter: brightness(50%);
}
.popup-form_body-container-title {
    text-align: center;
    margin: 25px 0;
    font-size: 1.55em;
}
.popup-form_body-container-label {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    align-items: center;
    position: relative;
}
.popup-form_body-container-label.input-label {
    overflow: hidden;
}
.popup-form_body-container-label.text-label {
    cursor: inherit;
}
.popup-form_body-container-label.text-label .popup-form_body-container-label-title {
    font-weight: 600;
    cursor: default;
}
.popup-form_body-container-label.text-label .popup-form_body-container-label-title:after {
    content: ": ";
}
.popup-form_body-container-label-text {
    color: #565661;
    cursor: inherit;
}
.popup-form_body .custom-select {
    width: 260px;
    text-align: left;
}
.popup-form_body-container-label-title {
    padding: 0 10px;
    vertical-align: middle;
}
.popup-form_body-container-form {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0 25px;
}
.popup-form_error-block {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2.8em;
    text-rendering: auto;
    right: -.3em;
    transform: rotate(21deg);
    color: #900000;
    transition: all .1s ease-in-out;
}
.popup-form_error-block:after {
    content: "\f071";
}
.popup-form_error-show {
    visibility: visible;
    opacity: 1;
}
.popup-form_body-container-label-input {
    width: 260px;
    background: inherit;
    border: 1px solid #ababab;
    padding: 4px 5px;
    transition: border-color .125s, padding-right .125s;
}
.popup-form_body-container-label-input:focus {
    border-color: #080622;
}
.popup-form_body-container-submit {
    display: inline-block;
    margin: 25px 0;
    border: 2px solid #080622;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    transition: all .125s;
}
.popup-form_body-container-submit:hover {
    background: #080622;
    color: whitesmoke;
}
.popup-form_body-container-label-input.popup-form_error {
    border-color: #900000 !important;
    padding-right: 2.4em;
}
.custom-select.popup-form_error {
    box-shadow: 0 0 0px 1px #900000;
}
.popup-form_body-container-content {
    width: fit-content;
    margin: 0 auto;
}
.popup-form_body-container-content.fixed-width {
    min-width: 400px;
}

.popup-form_slider-container {
    margin: 1em 0;
}
.popup-form_slider-header {
    font-size: 1.1em;
    padding: 10px;
    text-align: left;
}
.popup-form_slider {
    font-size: 0.9em;
    display: flex;
    overflow: auto;
} 
.popup-form_slider-block {
    position: relative;
    width: fit-content;
    margin: 5px;
    border: 1px solid #e4e3e3;
}
.popup-form_slider-block-header {
    width: 9em;
    height: 9em;
    padding: 3em 5px;
    background: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
}
.popup-form_slider-block-header.slider-password {
    background-image: url(/img/icons/pass.png);
}
.popup-form_slider-block-header.slider-fingerprint {
    background-image: url(/img/icons/finger2.png);
}
.popup-form_slider-block-header.slider-voice {
    background-image: url(/img/icons/voice.png);
}
.popup-form_slider-block-footer {
    background: #e4e3e3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2.5em;
}
.popup-form_slider-delete-button {
    font-size: 0.8em;
    text-decoration: underline;
    cursor: pointer;
    color: #565661;
    transition: all .125s;
}
.popup-form_slider-delete-button:hover {
    color: black;
}
.popup-form_slider-block.add-block {
    border: none;
    height: calc(11.5em + 2px);
}
.popup-form_slider-add-button {
    width: 9em;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 2px dashed #84848c;
    cursor: pointer;
    color: #565661;
    transition: all .125s;
}
.popup-form_slider-add-button:hover {
    border-color: #565661;
    color: #080622;
}
.popup-form_slider-add-button i {
    font-size: 2.5em;
}

.el-switch,
.el-switch-style,
.el-switch-style:before {
    box-sizing: border-box;
}
.el-switch {
    font-size: 12px;
    display: inline-block;
    height: 1.6em;
    position: relative;
}
.el-switch .el-switch-style {
    height: 1.6em;
    left: 0;
    background: #f5f5f5;
    border-radius: 0.8em;
    display: inline-block;
    position: relative;
    top: 0;
    transition: all .125s ease-in-out;
    width: 3em;
    cursor: pointer;
}
.el-switch .el-switch-style:before {
    display: block;
    content: '';
    height: 1.4em;
    position: absolute;
    width: 1.4em;
    background-color: #d0d0d0;
    border-radius: 50%;
    left: 0.1em;
    top: 0.1em;
    transition: all .125s ease-in-out;
}
.el-switch>input[type="checkbox"] {
    display: none;
}
.el-switch>input[type="checkbox"][disabled]+.el-switch-style {
    cursor: not-allowed;
}
.el-switch>input[type="checkbox"]:checked+.el-switch-style {
    background-color: #565661;
}
.el-switch>input[type="checkbox"]:checked+.el-switch-style:before {
    left: 50%;
    background: whitesmoke;
}
.popup-form_slider-delete-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 245, 245, 0.9);
    transition: all .125s;
    animation: show .125s linear;
}
.popup-form_slider-delete-wrapper.hide {
    opacity: 0;
}
@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}
.popup-form_slider-cancel-button {
    cursor: pointer;
    text-decoration: underline;
    color: #565661;
    transition: all .125s;
}
.popup-form_slider-cancel-button:hover {
    color: black;
}
.popup-form_nested-container-header {
    display: flex;
    font-size: 1.1em;
    font-weight: 600;
    background: #565661;
    color: whitesmoke;
    padding: 12px 30px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.popup-form_nested-container-back {
    position: absolute;
    left: 30px;
    cursor: pointer;
}