<div class="footer">
    <div class="footer__container">
		<div class="footer__language">
	    	<div class="footer__language-title"><%= text.footer.language %>: </div>
	        <div class="footer__language-button language-en" data-value="en"></div>
	        <div class="footer__language-button language-ua" data-value="ua"></div>
        </div>
    </div>
    <div class="footer__container">
        <span class="footer__rights">© 2017 - <%= new Date().getFullYear() %> Gamble. <%= text.footer.rights %>.</span>
    </div>
</div>