<!DOCTYPE html>
<html>

<head>
    <% include _layouts/header %>
    <link rel='stylesheet' href='/css/elements/management.css' />
    <link rel='stylesheet' href='/css/moderation.css' />
</head>

<body>
    <% include _layouts/title %>
    <script type="text/javascript">
    window.localization = <%- JSON.stringify(text.page) %>;
    </script>
    <div class="wrapper">
        <div class="center-align">
            <div class="moderation__menu">
                <a href="/moderation/productTypes" class="moderation__menu-buttons <%if (module == "productTypes") { %>active-buttons<% } %>">Product types</a>
                <a href="/moderation/products" class="moderation__menu-buttons <%if (module == "products") { %>active-buttons<% } %>">Products</a>
                <a href="/moderation/users" class="moderation__menu-buttons <%if (module == "users") { %>active-buttons<% } %>">Users</a>
            </div>
            <div class="moderation__main-block">
                <div class="moderation_container">
                    <div class="item-table">
                        <div class="item-table_header">
                            <div class="item-table_header-title">
                                <%if (module == "productTypes") { %>Product types table<% } %>
                                <%if (module == "products") { %>Products table<% } %>
                                <%if (module == "users") { %>Users table<% } %>
                            </div>
                            <div class="item-table_view-setting">
                                <div class="item-table_view-anount">
                                    <span>Show</span>
                                    <div class="custom-select">
                                        <div class="select-styled"></div>
                                        <ul class="select-options hide">
                                        </ul>
                                    </div>
                                    <span>entries</span>
                                </div>
                                <%if (module !== "users") { %><div class="item-table_add-button">Add</div><% } %>
                                <div class="item-table_view-pages">
                                </div>
                            </div>
                        </div>
                        <div class="item-table_body">
                            <table class="table-block">
                                <thead class="table-block_header">
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-form-wrapper">
        <div class="popup-form">
            <div class="popup-form_header popup-form_center">
                <div class="popup-form_header-title">Edit</div>
                <div class="popup-form_header-close">
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <div class="popup-form_body">
                <div class="popup-form_body-container">
                    <% if (module == "productTypes") { %><%- include('moderation/productTypesForm') %><% } %>
                    <% if (module == "products") { %><%- include('moderation/productsForm') %><% } %>
                </div>
            </div>
        </div>
    </div>
    <% include _layouts/footer %>
</body>
<script async defer type="text/javascript" src="/js/formValidator.js"></script>
<script async defer type="text/javascript" src="/js/header.js"></script>
<!-- <script async defer type="text/javascript" src="/js/page/moderation.js"></script> -->
<script async defer type="module" src="/js/page/moderation/<%= module %>.js"></script>
</html>