<div class="popup-form_body-container-wrapper">
    <div class="popup-form_body-container-title">Product</div>
    <div class="popup-form_body-container-form">
        
        <label class="popup-form_body-container-label">
            <span class="popup-form_body-container-label-title">Product type</span>
            <div class="custom-select" id="popupFormProductType">
                <div class="select-styled"></div>
                <ul class="select-options hide">
                </ul>
            </div>
            <div class="popup-form_error-block"></div>
        </label>

        <label class="popup-form_body-container-label input-label">
            <span class="popup-form_body-container-label-title">Shop code</span>
            <input class="popup-form_body-container-label-input" id="popupFormShopCode">
            <div class="popup-form_error-block"></div>
        </label>
        <div class="popup-form_body-container-submit">Submit</div>
    </div>
</div>