<div class="popup-form_body-container-wrapper">
    <div class="popup-form_body-container-title"><%= text.page.product %></div>
    <div class="popup-form_body-container-form">
        <div class="popup-form_body-container-content">
            <label class="popup-form_body-container-label">
                <span class="popup-form_body-container-label-title"><%= text.page.productType %></span>
                <div class="custom-select" id="popupFormProductType">
                    <div class="select-styled"></div>
                    <ul class="select-options hide">
                    </ul>
                </div>
                <div class="popup-form_error-block"></div>
            </label>
            <label class="popup-form_body-container-label input-label">
                <span class="popup-form_body-container-label-title"><%= text.page.shopCode %></span>
                <input class="popup-form_body-container-label-input" id="popupFormShopCode">
                <div class="popup-form_error-block"></div>
            </label>
        </div>
        <div class="popup-form_body-container-submit"><%= text.page.submit %></div>
    </div>
</div>