<div class="popup-form_body-container-wrapper">
    <div class="popup-form_body-container-title">Product type</div>
    <div class="popup-form_body-container-form">
        <div class="popup-form_body-container-content">
            <label class="popup-form_body-container-label input-label">
                <span class="popup-form_body-container-label-title">Name</span>
                <input class="popup-form_body-container-label-input" id="popupFormName">
                <div class="popup-form_error-block"></div>
            </label>
            <label class="popup-form_body-container-label input-label">
                <span class="popup-form_body-container-label-title">Url</span>
                <input class="popup-form_body-container-label-input" id="popupFormUrl">
                <div class="popup-form_error-block"></div>
            </label>
        </div>
        <div class="popup-form_body-container-submit">Submit</div>
    </div>
</div>